.cont {
    height: 200px;
    width: 400px;
 

    position: fixed;
    top: 75%;
    left: 60%;
    margin-top: -100px;
    margin-left: -200px;
}

.list {
    height: 200px;
    width: 400px;
 

    position: fixed;
    top: 65%;
    left: 55%;
    margin-top: -100px;
    margin-left: -200px;
}
.play_button {
    position:absolute;
    transition: .5s ease;
    top: 130%;
    left: 50%;
}

.btn-primary {
  position: fixed;
    top: 98%;
    left: 65%;
    margin-top: -100px;
    margin-left: -200px;
}

